// Games colors
$game-gray:   #f2f2f2
$game-dark:   #333
$game-blue:   #00cad3
$game-green:  #ced000
$game-purple: #9451ab
$game-orange: #f5652a
$game-medium-gray: darken($game-gray, 35%)

// Results colors
$result-dsp: #23aae8
$result-adv: #2b6e7f
$result-cp:  #005028
$result-fds: #1e4193
$result-dfc: #28245f
$result-efc: #62075f
$result-sci: #8d5733
$result-bcc: #9f2323
