@import url(http://weloveiconfonts.com/api/?family=entypo)

[class*="entypo-"]:before
  font-family: 'entypo', sans-serif
  font-style: normal

@font-face
  font-family: 'MuseoSansRounded300'
  src: url('museosansrounded-300.eot')
  src: url('museosansrounded-300.eot') format('embedded-opentype'), url('museosansrounded-300.woff2') format('woff2'), url('museosansrounded-300.woff') format('woff'), url('museosansrounded-300.ttf') format('truetype'), url('museosansrounded-300.svg#MuseoSansRounded300') format('svg')

@font-face
  font-family: 'MuseoSansRounded500'
  src: url('museosansrounded-500.eot')
  src: url('museosansrounded-500.eot') format('embedded-opentype'), url('museosansrounded-500.woff2') format('woff2'), url('museosansrounded-500.woff') format('woff'), url('museosansrounded-500.ttf') format('truetype'), url('museosansrounded-500.svg#MuseoSansRounded500') format('svg')

@font-face
  font-family: 'MuseoSansRounded700'
  src: url('museosansrounded-700.eot')
  src: url('museosansrounded-700.eot') format('embedded-opentype'), url('museosansrounded-700.woff2') format('woff2'), url('museosansrounded-700.woff') format('woff'), url('museosansrounded-700.ttf') format('truetype'), url('museosansrounded-700.svg#MuseoSansRounded700') format('svg')

@font-face
  font-family: 'ProximaNovaSemiBold'
  src: url('proximanova-semibold.eot')
  src: url('proximanova-semibold.eot') format('embedded-opentype'), url('proximanova-semibold.woff2') format('woff2'), url('proximanova-semibold.woff') format('woff'), url('proximanova-semibold.ttf') format('truetype'), url('proximanova-semibold.svg#ProximaNovaSemiBold') format('svg')

$alternative-font: 'ProximaNovaSemiBold', "Helvetica", Helvetica, Arial, sans-serif