= full-width-piles
  min-height: auto
  min-height: initial
  box-shadow: none
  width: 25%
  margin: 0
  cursor: pointer
  &:before, &:after
    display: none !important
  .pile-description
    display: none
  &.open-pile
    .first-letter
      color: transparent
      &:before
        content: "x"
        color: white
        position: absolute
        width: 100%
        left: 0

.game-container
  text-align: center

.page-title
  .game-container &
    display: none
  .game &.game
    display: block
  .core &.core
    display: block
  .adjacent &.adjacent
    display: block
  .aspirational &.aspirational
    display: block
  .out-of-bounds &.out-of-bounds
    display: block

h1, h2, h3, h4, h5, h6, p
  .blue-color
    color: $game-blue
  .green-color
    color: $game-green
  .purple-color
    color: $game-purple
  .orange-color
    color: $game-orange

.piles-container
  margin-bottom: 20px
  transition: .3s
  @media only screen and (max-width: 1012px)
    width: 100%

.stuck
  height: 100px
  .piles-container
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1000
    max-width: 100%
    box-shadow: 0 3px 0 rgba(black,.4)
    .cards-pile
      +full-width-piles

.cards-pile
  box-shadow: 0 0 0 1px $game-dark
  padding: 5px 10px
  min-height: 100px
  width: 238px
  vertical-align: top
  margin: 0 .5%
  position: relative
  display: inline-block
  transition: .3s
  @media only screen and (max-width: 1012px)
    +full-width-piles
  &.ui-droppable-hover
    margin-top: -2px
    &:before
      box-shadow: 0 2px 3px rgba(black,.3)
      bottom: -9px
    &:after
      bottom: -4px
  *
    color: white
  &.green-pile
    background-color: $game-green
  &.blue-pile
    background-color: $game-blue
  &.orange-pile
    background-color: $game-orange
  &.purple-pile
    background-color: $game-purple  

  .pile-title
    font-size: rem-calc(22)
    font-weight: 700
    text-transform: uppercase
    margin: 0

  .first-letter
    display: none
    text-transform: none

  .pile-description
    font-size: rem-calc(15)
    line-height: 1.3em
    margin: 0

  +decorative-content(after, false)
    width: 98%
    left: 1%
    bottom: -3px
  +decorative-content(before, false)
    width: 96%
    left: 2%
    bottom: -5px

  &:after, &:before
    position: absolute
    height: 20px
    border: 1px solid $game-dark
    background: white
    z-index: -1
    transition: .3s

@media only screen and (max-width: 831px)
  .game .cards-pile
    .full-title
      display: none
    .first-letter
      display: block
  .game #floating-pile-description
    .title
      display: block

.core, .adjacent, .aspirational, .out-of-bounds
  .cards-pile
    display: none
    min-height: auto
    min-height: initial

.core .blue-pile, .adjacent .green-pile, .aspirational .purple-pile, .out-of-bounds .orange-pile
  display: block
  width: 100% !important

.counter-nav
  background: white
  +stick-to(bottom, fixed)
  padding: 20px 0
  box-shadow: 0 -1px 3px rgba(black,.3)
  .game &, .out-of-bounds &
    padding: 12px 0
  .registration-button
    display: none
    .out-of-bounds &
      display: inline-block

.counter-nav, .navigator
  z-index: 200
  .button
    margin-bottom: 0em
    padding: 8px
    font-family: 'MuseoSansRounded500'
    cursor: pointer

.footer-nav-next
  cursor: pointer
  .out-of-bounds &
    display: none
  .navigator
    background: $game-dark
    color: white
    position: fixed
    left: 0
    right: 0
    bottom: -100px
    transition: all .5s
    a
      display: block
      width: 100%
      padding: 20px 0
      color: inherit
      &.first-nav-bt
        padding: 12px 0
    &.done
      bottom: 0
      animation: slide-up .5s cubic-bezier(0.770, 0.000, 0.175, 1.000)
    &.core
      background-color: $game-blue
    &.adjacent
      background-color: $game-green
    &.out-of-bounds
      background-color: $game-orange
    &.aspirational
      background-color: $game-purple


#floating-pile-description
  position: absolute
  left: 0
  right: 0
  padding: 15px
  display: none
  color: white
  font-size: rem-calc(15)
  font-family: 'MuseoSansRounded700'
  z-index: 100
  box-shadow: 0 3px 0 rgba(black,.4)
  .description
    margin-bottom: 0
    font-size: 1.1em
  .title
    color: white
    font-weight: bold
    margin: 0 0 -5px
    display: none
  .stuck &.open
    display: block
  @media only screen and (max-width: 1012px)
    &.open
      display: block
  &.adjacent
    background-color: $game-green
  &.core
    background-color: $game-blue
  &.out-of-bounds
    background-color: $game-orange
  &.aspirational
    background-color: $game-purple

@keyframes slide-up
  from
    bottom: -100px
  to
    bottom: 0